{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "babelOptions": {
      "plugins": ["@babel/plugin-proposal-class-properties"]
    }
  },
  "extends": ["plugin:react/recommended", "plugin:prettier/recommended"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "quotes": ["error", "single"],
    "prettier/prettier": "error",
    // "react/prop-types": 1,
    "react/state-in-constructor": ["error", "never"],
    "react/display-name": ["off"]
  }
}