.help {
  margin: 54px 0 0;
  padding-bottom: 88px;
  position: relative;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 3;
  padding: 50px 40px 50px 100px;
  color: white;
}

.boxWrapper {
  position: relative;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}

.head {
  margin: 16px 0;
}

.headTitle {
  font-weight: bold;
  font-size: 28px;
  line-height: (38 / 28);
}

.headSubtitle {
  margin-top: 20px;
  font-size: 18px;
  line-height: 25px;
}

.background {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  &::after {
    display: inline-block;
    content: ' ';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(11, 24, 69, 0.9) 42.64%, rgba(11, 24, 69, 0.2) 100%);
  }
  img {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.form {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 42px;
  max-width: 540px;
}

.formInput {
  width: 100%;
  :global input {
    padding: 16px 220px 16px 30px;
    font-size: 14px;
    border: 0;
  }
}

.formButton {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding-top: 16px;
  padding-bottom: 16px;
  min-width: 200px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.decor {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 3px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

@include r($lg) {
  .help {
    margin: 32px 0 0;
    padding-bottom: 64px;
  }

  .content {
    padding: 40px 20px 40px 40px;
  }

  .head {
    margin: 0 0;
  }

  .headTitle {
    font-size: 24px;
  }
  .headSubtitle {
    margin-top: 12px;
    font-size: 16px;
  }

  .form {
    margin-top: 28px;
    max-width: 468px;
  }

  .formInput {
    :global input {
      padding: 16px 180px 16px 20px;
      font-size: 14px;
    }
  }

  .formButton {
    min-width: 1px;
  }

  .decor {
    bottom: 30px;
  }
}

@include r($md) {
  .content {
    padding: 35px 30px;
    text-align: center;
  }
  .headTitle {
    font-size: 22px;
  }
  .headSubtitle {
    margin-top: 16px;
    font-size: 16px;
  }

  .form {
    flex-wrap: wrap;
    margin-top: 28px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .formInput {
    :global input {
      padding: 16px 20px 16px 20px;
      font-size: 14px;
    }
  }

  .formButton {
    display: block;
    margin-top: 8px;
    position: relative;
    top: 0;
    left: 0;
    min-width: 1px;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

@include r($mobile-s) {
  .help {
    margin-left: -16px;
    margin-right: -16px;
  }

  .boxWrapper {
    border-radius: 0;
  }
}
