.numInput {
  width: 83px;
  :global input {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.delete {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
  transition: color 0.25s $ease, background 0.25s $ease;
  &:hover {
    color: $colorRed;
  }
}
