.numInput {
  width: 83px;
  :global input {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.delete {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
  transition: color 0.25s $ease, background 0.25s $ease;
  &:hover {
    color: $colorRed;
  }
}
.deleteMob {
  display: none;
}

.mobtitle {
  display: none;
}

.cell {
  display: inline-flex;
  align-items: center;
}

.product {
  position: relative;
}

@include r($md) {
  .product {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid #c4c4c4;
    transition: color 0.25s $ease;
    &:hover {
      background: #f5f5f5;
    }
    td {
      width: 100%;
    }
  }
  .mobtitle {
    display: inline-block;
    min-width: 100px;
    font-size: 12px;
  }
  .delete {
    background: #aaa;
    border-radius: 10px;
    min-width: 1px;
    color: white;
    padding: 10px 15px;
    &:hover {
      background: $colorRed;
      color: white;
    }
  }
  .deleteMob {
    display: inline-block;
    margin-left: 14px;
  }
}
