.topbar {
  background: $colorPrimary;
  color: white;
}

.topbarWrapper {
  display: flex;
  align-items: center;
  margin-left: -10px;
  margin-right: -10px;
  min-height: 45px;
}

.topbarAction {
  flex: 0 0 auto;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  height: 45px;
  transition: background 0.25s $ease;
  :global {
    .svg-icon {
      font-size: 16px;
      margin-right: 10px;
    }
  }
  span {
    display: inline-block;
    font-size: 14px;
  }
  &:hover {
    background: $colorLink;
  }
}

.topbarLinks {
  justify-content: flex-end;
}

.iconed {
  :global .svg-icon {
    font-size: 20px;
    transform: translateY(-2px);
  }
}

.location,
.price {
  &:hover {
    background: transparent;
  }
}

@include r($lg) {
  .colSecond {
    flex: 0 0 auto;
    max-width: 100%;
    margin-left: auto;
  }
  .topbarLinks {
    flex: 0 1 auto;
  }
  .topbarAction {
    span {
      font-size: 12px;
    }
  }
  .iconed {
    :global .svg-icon {
      font-size: 16px;
    }
  }
}

@include r($md) {
  .topbar {
    display: none;
  }
}
