.select {
  &._active {
    .selectDisplay {
      :global .svg-icon {
        transform: rotate(-180deg);
        color: $colorRed;
      }
    }
    .selectOptions {
      opacity: 1;
      pointer-events: all;
      transform: none;
    }
  }
  // &._mini {
  // }
  &._inline {
    .selectOptions {
      display: none;
      position: static;
      max-height: 100%;
      box-shadow: none;
      padding: 0 0;
      margin: 12px 0 12px -6px;
    }
    .selectDisplay {
      padding-left: 0;
      padding-right: 0;
    }
    &._active {
      .selectOptions {
        display: flex;
      }
    }
  }
}

.selectDisplay {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  padding: 12px 20px 12px 30px;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  span {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    padding-right: 10px;
  }
  :global .svg-icon {
    flex: 0 0 auto;
    font-size: 9px;
    margin-left: auto;
    transition: transform 0.25s $ease;
    will-change: transform;
    backface-visibility: hidden;
  }
}

.selectDisplayTag {
  background: $colorPrimary;
  color: white;
  border-radius: 10px;
  padding: 2px 5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  margin-right: 10px;
}

.selectDisplayMini {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: $colorRed;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  color: white;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  transition: background 0.25s $ease;
  :global .svg-icon {
    font-size: 11px;
    transform: translate(0, 1px);
  }
  &:hover {
    background: $colorLink;
  }
}

.selectOptions {
  position: absolute;
  z-index: 3;
  top: 100%;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 20px 20px 30px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transform: translate(0, -10px);
  max-height: 400px;
  overflow-y: auto;
  user-select: none;
  transition: opacity 0.25s $ease, transform 0.25s $ease;
  &.size {
    width: 520px;
    .selectOptionCol {
      flex-basis: 20%;
      max-width: 20%;
    }
  }
}

.selectOptionCol {
  flex: 0 0 25%;
  max-width: 25%;
  display: flex;
  flex-direction: column;
}

.selectOption {
  display: inline-flex;
  align-items: center;
  flex: 0 0 auto;
  cursor: pointer;
  padding: 6px;
  border-radius: 5px;
  transition: color 0.25s $ease;
  @include text-overflow();
  &:hover {
    color: $colorLink;
  }
  &._active {
    .selectOptionCheckbox {
      background: $colorLink;
      border-color: $colorLink;
      :global .svg-icon {
        opacity: 1;
      }
    }
  }
  &._popular {
    background: #ffe2aa;
  }
  &._disabled {
    color: $colorGray;
    .selectOptionCheckbox {
      background: rgba(0, 0, 0, 0.3);
      border-color: rgba(0, 0, 0, 0.3);
      :global .svg-icon {
        display: none;
      }
    }
  }
  // &._old{}
}

.selectOptionCheckbox {
  position: relative;
  display: block;
  flex: 0 0 auto;
  width: 15px;
  height: 15px;
  border: 1px solid #5c5c5c;
  border-radius: 5px;
  margin-right: 10px;
  transition: background 0.25s $ease, border 0.25s $ease;
  :global .svg-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 8px;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
  }
}

@include r($lg) {
  .selectDisplay {
    padding: 8px 20px 7px 20px;
    span {
      font-size: 12px;
    }
  }
}

@include r($md) {
  .selectOptions {
    &.size {
      width: 100%;
      .selectOptionCol {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }
  .selectOption {
    font-size: 14px;
  }
  .selectOptionCol {
    flex-basis: 50%;
    max-width: 50%;
  }
}
