.container {
  position: relative;
  z-index: 1;
  &._full {
    min-height: -webkit-calc(100vh - 16px);
    min-height: calc(100vh - 16px);
    display: flex;
    flex-direction: column;
  }
}

.close {
  position: absolute;
  z-index: 5;
  top: 22px;
  right: 26px;
  padding: 10px;
  font-size: 0;
  cursor: pointer;
  color: $colorPrimary;
  transition: color 0.25s $ease;
  :global .svg-icon {
    font-size: 18px;
  }
  span {
    display: none;
  }
  &:hover {
    color: $colorRed;
  }
}

.content {
  display: block;
  &._full {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }
}

._narrow {
  padding: 24px;
  .close {
    top: 8px;
    right: 8px;
  }
}

._thanks {
  padding: 32px 24px 40px;
  .close {
    top: 10px;
    right: 10px;
  }
}

@include r($md) {
  .container {
    padding: 50px 16px;
  }

  .head {
    flex-wrap: wrap;
    &_title {
      order: 2;
      flex: 0 0 100%;
      font-size: 14px;
      margin-top: 8px;
    }
  }
  .close {
    order: 1;
    position: fixed;
    z-index: 3;
    top: 60px;
    left: 0;
    right: 0;
    display: inline-flex;
    align-items: center;
    background: $colorPrimary;
    height: 50px;
    padding: 12px 16px;
    color: white;
    :global .svg-icon {
      margin-left: auto;
    }
    span {
      display: block;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  .content {
    display: block;
  }

  ._narrow {
    padding: 50px 0 40px;
    .close {
      top: inherit;
      right: 0;
    }
  }

  ._thanks {
    padding: 50px 20px 40px;
    .close {
      top: inherit;
      right: 0;
    }
  }
}
