.ReactModal__Overlay {
  background: rgba($fontColor, 0) !important;
  will-change: background;
  backface-visibility: hidden;
  transition: background 300ms ease-in-out;
  &--after-open {
    background: rgba($fontColor, 0.5) !important;
  }
  &--before-close {
    background: rgba($fontColor, 0) !important;
  }
}

.ReactModal__Content {
  opacity: 0;
  will-change: background;
  backface-visibility: hidden;
  transition: opacity 200ms ease-in-out;
  &--after-open {
    opacity: 1;
  }
  &--before-close {
    opacity: 0;
  }
}

@include r($md) {
  .ReactModal__Overlay {
    background: rgba($fontColor, 0) !important;
  }
  .ReactModalPortal {
    .ReactModal__Content {
      top: 60px !important;
      bottom: 0 !important;
      left: 0 !important;
      right: 0 !important;
      transform: none !important;
      max-height: calc(100% - 54px) !important;
      width: 100% !important;
      border-radius: 0 !important;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  body.scrolled {
    .close {
      top: 50px;
    }
  }
}
