.mobFilter {
  display: none;
}

.reset {
  margin-top: 16px;
  :global .btn {
    padding: 9px 15px !important;
    font-size: 12px;
    border-radius: 5px;
  }
}

@include r($md) {
  .mobFilter {
    position: sticky;
    z-index: 10;
    // top: 50px;
    top: 108px;
    display: flex;
    align-items: center;
    padding: 0 16px 0 0;
    margin-left: -16px;
    margin-right: -16px;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-bottom-color: transparent;
    border-radius: 5px 5px 0 0;
    transition: background 0.25s $ease, border 0.25s $ease;
    &._sticky {
      border-color: transparent;
      border-radius: 0;
    }
    &._active {
      background: white;
      border-color: transparent;
      .mobFilterToggle {
        background: white;
        border-color: $colorPrimary;
      }
      .mobFilterIcon {
        transform: rotate(180deg);
        color: $colorLink;
      }
      .mobFilterSubtitle {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  .mobFilterToggle {
    position: relative;
    z-index: 2;
    display: inline-flex;
    align-items: center;
    color: $colorPrimary;
    font-size: 0;
    cursor: pointer;
    padding: 15px 16px;
    border: 1px solid transparent;
    border-radius: 10px 10px 0 0;
    border-bottom: 0;

    transition: color 0.25s $ease, border 0.25s $ease;
    &:hover {
      color: $colorLink;
    }
    :global .svg-icon {
      font-size: 20px;
      margin-right: 8px;
    }
    span {
      display: inline-block;
      margin-right: 8px;
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
  .mobFilterIcon {
    font-size: 0;
    transform-origin: center center;
    transition: transform 0.25s $ease, color 0.25s $ease;
    :global .svg-icon {
      font-size: 7px;
    }
  }

  .mobFilterSubtitle {
    margin-left: auto;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    transition: opacity 0.25s $ease;
  }

  // dropdown
  .filters {
    position: absolute;
    top: calc(100% - 1px);
    z-index: 1;
    left: 0;
    right: 0;
    padding: 20px 16px 20px 32px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    background: white;
    border-radius: 0 10px 10px 10px;
    border: 1px solid $colorPrimary;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);

    transition: opacity 0.25s $ease;
    &._visible {
      opacity: 1;
      pointer-events: all;
    }
  }
}
