.mobFilterWrapper {
  display: none;
}

.reset {
  margin-top: 16px;
  :global .btn {
    padding: 9px 15px !important;
    font-size: 12px;
    border-radius: 5px;
  }
}

.ok {
  position: fixed;
  bottom: 60px;
  left: 14px;
  right: 14px;
}

@include r($md) {
  .mobFilterWrapper {
    position: sticky;
    z-index: 10;
    top: 52px;
    align-self: flex-start;
    display: block;
    min-height: 54px;
  }

  .mobFilter {
    display: flex;
    align-items: center;
    padding: 0 16px 0 0;
    margin-left: -16px;
    margin-right: -16px;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-bottom-color: transparent;
    border-radius: 5px 5px 0 0;
    transition: background 0.25s $ease, border 0.25s $ease;
    &._sticky {
      border-color: transparent;
      border-bottom-color: rgba(47, 47, 47, 0.3);
    }
    &._active {
      position: fixed;
      top: 52px;
      right: 16px;
      left: 16px;

      background: $colorPrimary;
      border-color: transparent;
      border-radius: 0;
      .mobFilterToggle {
        // background: white;
        border-color: transparent;
        color: white;
      }
      .mobFilterIcon {
        :global .svg-icon {
          transform: rotate(180deg);
        }

        color: white;
      }
      .mobFilterSubtitle {
        color: white;
        font-size: 10px;
      }
      // .mobFilterSubtitle {
      //   opacity: 0;
      //   pointer-events: none;
      // }
    }
  }

  .mobFilterToggle {
    position: relative;
    z-index: 2;
    display: inline-flex;
    align-items: center;
    color: $colorPrimary;
    font-size: 0;
    cursor: pointer;
    padding: 15px 16px;
    border: 1px solid transparent;
    border-radius: 10px 10px 0 0;
    border-bottom: 0;

    transition: color 0.25s $ease, border 0.25s $ease;
    // &:hover {
    //   color: $colorLink;
    // }
    :global .svg-icon {
      font-size: 20px;
      margin-right: 8px;
    }
    span {
      display: inline-block;
      margin-right: 8px;
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
  .mobFilterIcon {
    font-size: 0;
    transition: color 0.25s $ease;
    :global .svg-icon {
      font-size: 7px;
      transform-origin: center center;
      transition: transform 0.25s $ease;
    }
  }

  .mobFilterSubtitle {
    margin-left: auto;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    transition: opacity 0.25s $ease;
  }

  // dropdown
  .filters {
    position: absolute;
    top: 100%;
    z-index: 1;
    left: 0;
    right: 0;
    min-height: 1px;
    height: calc(100vh - 52px - 52px);
    padding: 20px 16px 120px 16px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    background: white;
    border-radius: 0;
    border: 0;
    overflow-y: auto;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);

    transition: opacity 0.1s $ease;
    &._visible {
      opacity: 1;
      pointer-events: all;
    }
  }

  .filterTags {
    position: relative;
    &._active {
      .filterTagsLabel {
        :global .svg-icon {
          transform: rotate(-180deg);
          color: $colorRed;
        }
      }
      .filterTagsDropdown {
        opacity: 1;
        pointer-events: all;
        display: flex;
      }
    }
  }

  .filterTagsLabel {
    display: flex;
    align-items: center;
    padding: 8px 0 7px 0;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    span {
      font-weight: 600;
      font-size: 12px;
      line-height: 1;
      padding-right: 10px;
    }
    :global .svg-icon {
      flex: 0 0 auto;
      font-size: 9px;
      margin-left: auto;
      transition: transform 0.25s $ease;
      will-change: transform;
      backface-visibility: hidden;
    }
  }

  .filterTagsDropdown {
    display: none;
    padding: 16px 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
    user-select: none;
    transition: opacity 0.25s $ease;
  }

  .tags {
    :global div {
      flex: 0 0 50%;
    }
  }
}
