.stickyHead {
  transition: background 0.25s $ease;

  &._sticky {
    z-index: 7;
    th {
      border-left: 0 !important;
      border-right: 0 !important;
      &:first-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 5px;
      }
      &:last-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 5px;
      }
    }

    .cell {
      .cellFilter {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
  th {
    transition: background 0.1s $ease;
    &._activeTH {
      background: white;
    }
    &._clickable {
      cursor: pointer;
      user-select: none;
    }
  }
}

.cell {
  display: inline-flex;
  align-items: center;
  span {
    margin-right: 8px;
  }
  .cellFilter {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s $ease;
  }
}

.selectOptions {
  &.size {
    width: calc((1200px * ((0.14 * 3) + 0.25)));
    left: 0;
  }
  &.mark {
    width: calc((1200px * ((0.14 * 4) + 0.1)));
    left: calc(0px - (1200px * 0.14));
  }
  &.length {
    width: calc((1200px * ((0.14 * 4) + 0.1)));
    left: calc(0px - (1200px * (0.14 + 0.14)));
  }
}

@include r(1280) {
  .selectOptions {
    &.size {
      width: calc(((100vw - 80px) * ((0.14 * 3) + 0.25)));
      left: 0;
    }
    &.mark {
      width: calc(((100vw - 80px) * ((0.14 * 4) + 0.1)));
      left: calc(0px - ((100vw - 36px) * 0.14));
    }
    &.length {
      width: calc(((100vw - 80px) * ((0.14 * 4) + 0.1)));
      left: calc(0px - ((100vw - 36px) * (0.14 + 0.14)));
    }
  }
}

@include r($xl) {
  .selectOptions {
    &.size {
      width: calc(((100vw - 80px) * ((0.15 * 3) + 0.25)));
      left: 0;
    }
    &.mark {
      width: calc(((100vw - 80px) * ((0.15 * 4) + 0.1)));
      left: calc(0px - ((100vw - 36px) * 0.15));
    }
    &.length {
      width: calc(((100vw - 80px) * ((0.15 * 4) + 0.1)));
      left: calc(0px - ((100vw - 36px) * (0.15 + 0.15)));
    }
  }
}

@include r($lg) {
  .selectOptions {
    &.size {
      width: calc(((100vw - 32px) * ((0.15 * 3) + 0.25)));
      left: 0;
    }
    &.mark {
      width: calc(((100vw - 32px) * ((0.15 * 4) + 0.1)));
      left: calc(0px - ((100vw - 36px) * 0.15));
    }
    &.length {
      width: calc(((100vw - 32px) * ((0.15 * 4) + 0.1)));
      left: calc(0px - ((100vw - 36px) * (0.15 + 0.15)));
    }
  }
}

@include r($md) {
  .desktopHead {
    display: none !important;
  }
}
