.stickyHead {
  transition: background 0.25s $ease;

  &._sticky {
    z-index: 7;
    margin-left: -2px;
    margin-right: -2px;
    th {
      &:first-child {
        border-bottom-left-radius: 5px;
      }
      &:last-child {
        border-bottom-right-radius: 5px;
      }
    }

    .cell {
      .cellFilter {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}

.cell {
  display: inline-flex;
  align-items: center;
  span {
    margin-right: 8px;
  }
  .cellFilter {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s $ease;
  }
}

.selectOptions {
  &.size {
    width: calc((1200px * (0.14 * 3)));
    left: 0;
  }
  &.mark {
    width: calc((1200px * ((0.14 * 4) + 0.1)));
    left: calc(0px - (1200px * 0.14));
  }
  &.length {
    width: calc((1200px * ((0.14 * 4) + 0.1)));
    left: calc(0px - (1200px * (0.14 + 0.14)));
  }
}
