.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  min-width: 320px;
}

.main {
  flex: 1 0 auto;
  padding-top: 171px;
}

@include r($xl) {
  .main {
    padding-top: 153px;
  }
}

@include r($lg) {
  .main {
    padding-top: 153px;
  }
}
@include r($md) {
  .main {
    padding-top: 120px;
  }
}
