.cart {
  position: relative;
  padding: 30px 20px;
  &::after {
    display: inline-block;
    content: ' ';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(white, 0.5);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  &._loading {
    &::after {
      pointer-events: all;
      opacity: 1;
    }
  }
}

.head {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
}

.headTitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: $colorPrimary;
  span {
    color: #888;
  }
}

@include r($md) {
  .cart {
    padding: 16px 0;
  }
  .head {
    text-align: center;
  }
  .headTitle {
    font-size: 16px;
  }
}

.table {
  width: 100%;
  border-spacing: 0;
  th,
  td {
    font-size: 14px;
    padding: 15px 8px;
    &:nth-child(1) {
      width: 45%;
    }
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      width: 17%;
    }
    &:nth-child(4) {
      width: 16%;
    }
    &:nth-child(5) {
      width: 12%;
    }
    &:nth-child(6) {
      width: 10%;
      text-align: right;
    }
    &:first-child {
      padding-left: 16px;
      border-left: 1px solid transparent;
    }
    &:last-child {
      padding-right: 16px;
      border-right: 1px solid transparent;
    }
  }
  thead {
    text-align: left;
    th {
      font-weight: 600;
      border-top: 1px solid rgba(black, 0.1);
      border-bottom: 1px solid rgba(black, 0.1);
      background: #f5f5f5;
      &:first-child {
        border-left-color: rgba(black, 0.1);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      &:last-child {
        border-right-color: rgba(black, 0.1);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
  tbody {
    tr:hover {
      td {
        background: #eaecf5;

        &:first-child {
          border-left-color: rgba(black, 0.1);
        }
        &:last-child {
          border-right-color: rgba(black, 0.1);
        }
      }
    }
    td {
      font-size: 14px;
      border-bottom: 1px solid $borderColor;
      transition: background 0.15s $ease, border 0.15s $ease;
    }
  }
}

.delete {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
  transition: color 0.25s $ease, background 0.25s $ease;
  &:hover {
    color: $colorRed;
  }
  &._circle {
    position: relative;
    background: #fbebef;
    border-radius: 50%;
    color: $fontColor;
    &:hover {
      background: $colorRed;
      color: white;
    }
  }
}

.count {
  padding: 26px 16px 30px;
  text-align: right;
}

.countMain {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.countVAT {
  margin-top: 4px;
  font-size: 16px;
  line-height: 22px;
}

.actions {
  border-top: 1px solid #c4c4c4;

  padding: 30px 16px 0;
}

.actionCheckboxCta {
  margin-top: 14px;
}

.actionBtnCta {
  margin-top: 10px;
}

.actionMainBtnCta {
  margin-top: 24px;
}

.mobileReset {
  display: none;
}

.empty {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 24px 0 0;
}

.emptyIcon {
  :global .svg-icon {
    color: #d3d3d3;
    font-size: 124px;
  }
}

.emptySeparator {
  display: inline-block;
  width: 50px;
  height: 3px;
  background: #e5e5e5;
  margin: 42px 0 28px;
}

.emptyTitle {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}

.emptyText {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #888;
  max-width: 330px;
  margin: 18px 0 0;
}

.emptyCta {
  margin-top: 44px;
  margin-bottom: 16px;
  min-width: 240px;
  :global .svg-icon {
    font-size: 8px;
    margin-top: 2px;
  }
}

@include r($md) {
  .table {
    th,
    td {
      font-size: 12px;
      padding: 10px 0;
      &:nth-child(1) {
        width: 100%;
        font-size: 14px;
        font-weight: 600;
      }
      &:nth-child(2) {
        display: block;
        width: $col8;
        padding-right: 10px;
      }
      &:nth-child(3) {
        width: $col5;
        padding-right: 10px;
      }
      &:nth-child(4) {
        width: $col4;
        padding-right: 10px;
      }
      &:nth-child(5) {
        width: $col3;
        padding-right: 10px;
      }
      &:nth-child(6) {
        width: $col4;
        text-align: left;
      }
      &:first-child {
        padding-left: 0;
      }
    }

    thead {
      th {
        display: none !important;
      }
    }
    tbody {
      tr {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0;
      }
      tr:hover {
        td {
          background: transparent;

          &:first-child {
            border-left-color: transparent;
          }
          &:last-child {
            border-right-color: transparent;
          }
        }
      }
      td {
        width: 100%;
        border: 0;
        padding: 10px 0;
      }
    }
  }

  .mobileReset {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%) !important;
    &::before {
      display: none;
    }
  }

  .actions {
    padding: 30px 0 0;
  }
}
