.header {
  display: block;
  z-index: 9;
  transition: transform 0.25s $ease;
  will-change: transform;
  backface-visibility: hidden;
  &._scrolled {
    transform: translate3d(0, -74px, 0);
    .wrapper {
      padding-bottom: 15px;
    }
  }
}

.main {
  position: relative;
  z-index: 2;
  background: white;
  border-bottom: 1px solid rgba(47, 47, 47, 0.3);
  // transition: background 0.1s $ease;
}

.wrapper {
  display: flex;
  align-items: center;
  padding: 40px 0 28px;
  will-change: padding;
  backface-visibility: hidden;
  transition: padding 0.25s linear;
}

.colMain {
  flex: 0 0 290px;
  max-width: 290px;
}

.colSecond {
  flex: 0 0 180px;
  max-width: 180px;
}

.colThrid {
  flex: 1 1 auto;
  max-width: 100%;
  display: flex;
}

.colMobile {
  display: none;
}

.catalogCta {
  display: inline-flex;
  align-items: center;
  padding: 11px 20px;
  font-size: 14px;
  font-weight: 700;
  :global .hamburger {
    margin-right: 8px;
  }
}

.logo {
  display: inline-block;
  font-size: 0;
  img {
    max-width: 100%;
  }
}

.logoTablet {
  display: none;
}

@include r($xl) {
  .header {
    &._scrolled {
      transform: translate3d(0, -62px, 0);
    }
  }
  .wrapper {
    padding: 32px 0 32px;
  }
  .colMain {
    flex-basis: 176px;
    max-width: 176px;
  }
  .logo {
    max-width: 116px;
  }
  .logoDesktop {
    display: none;
  }
  .logoTablet {
    display: block;
  }
}

@include r($lg) {
  .colMain {
    flex-basis: 146px;
    max-width: 146px;
  }
  .colSecond {
    flex-basis: 150px;
    max-width: 150px;
  }
}

@include r($md) {
  .header {
    &._scrolled {
      transform: translateY(0);
      .wrapper {
        padding-bottom: 2px;
      }
    }

    &._catalogOpened {
      .main {
        background: $colorPrimary;
        color: white;
        border-bottom-color: transparent;
      }
      :global .cart {
        color: white;
      }
      .logo :global {
        svg path[fill*='#182D78'] {
          fill: white;
        }
        svg path[fill*='#172D78'] {
          fill: white;
        }
      }
      :global .hamburger {
        span {
          background: white;
        }
      }
    }
  }
  .main {
    border-bottom: 1px solid rgba(47, 47, 47, 0.3);
  }

  .colSecond {
    order: 1;
    flex: 0 0 40px;
    max-width: 40px;
    :global .btn {
      transform: translateX(0);
    }
  }

  .wrapper {
    flex-wrap: wrap;
    padding-top: 8px;
    padding-bottom: 2px;
    transition: none;
  }

  .colMobile {
    flex: 0 0 40px;
    display: flex;
    justify-content: flex-end;
    order: 3;
    padding-bottom: 3px;
  }

  .colThrid {
    display: none;
    order: 4;
    width: 100%;
  }

  .colMain {
    flex: 0 0 auto;
    order: 2;
    margin-left: auto;
    margin-right: auto;
  }

  .catalogCta {
    background: transparent !important;
    padding-left: 10px;
    padding-right: 10px;
    :global .hamburger {
      transform: scale(2) translate(0, -2px);
      transform-origin: center center;
      span {
        background: $colorPrimary;
      }
    }
    > span {
      display: none;
    }
  }
  .logo {
    svg {
      max-width: 105px;
    }
  }
}

// OVERLAY
.overlay {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  background: #eff1f3;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 10px 10px;
  opacity: 0;
  // overflow-y: scroll;
  pointer-events: none;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.1s $ease;
  &._active {
    opacity: 1;
    pointer-events: all;
  }
}

.overlayScroller {
  position: relative;
  z-index: 2;
  height: 686px;
  max-height: calc(100vh - 170px - 80px);
  display: flex;
  flex-direction: column;
  min-height: 1px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.overlayContent {
  flex: 0 0 auto;
  position: relative;
  padding: 28px 0 32px;
}

.overlaySocials {
  display: none;
  flex: 0 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -10px 22px;
}

.overlayLinks {
  display: none;
  flex-direction: column;
  margin-top: 0;
  flex: 0 0 auto;
}

.overlaySocialLink {
  display: inline-flex;
  align-items: center;
  font-size: 0;
  color: white;
  padding: 10px;
  transition: color 0.25s $ease;
  :global .svg-icon {
    font-size: 16px;
    margin-right: 8px;
  }
  span {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
  }
  &:hover {
    color: $colorLink;
  }
}

.overlayClose {
  position: absolute;
  padding: 10px;
  top: 20px;
  right: calc(((100vw - 1200px) / 2) - 12px);
  z-index: 3;
  color: $colorPrimary;
  cursor: pointer;
  transition: color 0.25s $ease;
  :global .svg-icon {
    font-size: 16px;
  }
  &:hover {
    color: $colorAccent;
  }
}

.priceList {
  flex: 0 0 auto;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  margin-left: -10px;
  margin-bottom: 16px;
  transition: background 0.25s $ease;
  :global {
    .svg-icon {
      font-size: 20px;
      margin-right: 8px;
    }
  }
  span {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
  }
  &:hover {
    background: $colorLink;
  }
}

@include r($hd) {
  .overlayClose {
    right: 12px;
  }
}

@include r($md) {
  .overlay {
    z-index: 1;
    background: $colorPrimary;
    box-shadow: none;
    border-radius: 0;
    color: white;
    transition: none;
    overflow-y: auto;
    overflow-x: hidden;
    :global .catalog {
      padding-left: 0;
    }
  }

  .overlayScroller {
    flex: 0 0 auto;
    position: relative;
    z-index: 2;
    max-height: calc(100vh - 52px);
    height: calc(100vh - 52px);
    padding-top: 64px;
    // overflow: hidden;
    // enable scrolling only inside list
    // overflow: hidden;
    // :global .container {
    //   flex: 0 0 auto;
    //   display: flex;
    //   flex-direction: column;
    //   height: 100%;
    // }
    // :global .catalog {
    //   flex: 1 1 100%;
    //   height: 100%;
    //   min-height: 1px;
    //   overflow-y: auto;
    //   margin-right: -16px;
    //   padding-right: 16px;
    //   -webkit-overflow-scrolling: touch;
    // }
  }

  .overlayContent {
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 0 32px;
  }

  .overlaySocials {
    display: flex;
  }

  .overlayLinks {
    display: flex;
    align-items: flex-start;
    margin-bottom: 36px;
    button {
      width: 100%;
      max-width: 400px;
    }
  }

  .overlayClose {
    display: none;
  }
}

@include r($mobile-s) {
  .overlaySocialLink {
    padding: 8px;
    :global .svg-icon {
      font-size: 14px;
      margin-right: 6px;
    }
    span {
      font-size: 12px;
    }
  }
}

.catLang {
  display: inline-flex;
  align-items: center;
  margin-bottom: 32px;
  cursor: pointer;
}

.catLangToggle {
  position: relative;
  background: #fff;
  border: 1px solid #888;
  border-radius: 10px;
  width: 38px;
  height: 14px;
  margin-left: 10px;
  transition: background 0.15s $ease, border 0.15s $ease;
  &._active {
    background: $colorRed;
    border-color: $colorRed;
    &::after {
      transform: translate(18px, -50%);
    }
  }
  &::after {
    display: inline-block;
    content: ' ';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-1px, -50%);
    background: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 19px;
    height: 19px;
    transition: transform 0.25s $ease;
    will-change: transform;
  }
}

@include r($md) {
  .catLang {
    font-size: 14px;
  }
}

.mobileSearch {
  display: none;
}

@include r($md) {
  .mobileSearch {
    position: relative;
    z-index: 5;
    display: block;
    margin-top: 54px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .mobileSearchWrapper {
    backface-visibility: hidden;
    will-change: transform;
  }
  .mobileSearchSearch {
    margin-top: 9px !important;
    &::after {
      display: none !important;
    }
  }
}

:global body.filtersActive {
  @include r($md) {
    .mobileSearch {
      z-index: 2;
    }
  }
}

:global body.catalogOpened {
  @include r($md) {
    .mobileSearch {
      z-index: 9;
      position: fixed;
      left: 0;
      right: 0;
      top: 53px;
      margin-top: 0;
      overflow: hidden;
    }
  }
  &.searchShowingRecent {
    @include r($md) {
      .mobileSearch {
        overflow: visible;
      }
    }
  }
}

:global body.is-mobile {
  @include r($md) {
    .overlayLinks {
      margin-bottom: 92px;
    }
  }
}

:global body.has-scrollbar {
  @include rmin($lg + 1) {
    .overlayContent {
      margin-right: -16px;
    }
  }
}
