.header {
  display: block;
  z-index: 9;
  border-bottom: 1px solid rgba(47, 47, 47, 0.3);
}

.colMain {
  flex: 0 0 267px;
  max-width: 267px;
}

.colSecond {
  flex: 0 0 205px;
  max-width: 205px;
}

.colThrid {
  flex: 1 1 auto;
  max-width: 100%;
  display: flex;
}

.wrapper {
  display: flex;
  align-items: center;
  padding: 44px 0 32px;
}

// .location {
// }
