.cart {
  position: relative;
  padding: 30px 20px;
  &::after {
    display: inline-block;
    content: ' ';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(white, 0.5);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  &._loading {
    &::after {
      pointer-events: all;
      opacity: 1;
    }
  }
}

.head {
  padding: 0 20px 20px;
  border-bottom: 1px solid #c4c4c4;
}

.headTitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.body {
  padding: 26px 20px 30px;
  display: flex;
}

.bodyImage {
  position: relative;
  flex: 0 0 260px;
  max-width: 260px;
  padding-right: 20px;
  font-size: 0;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.bodyTable {
  flex: 0 0 360px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  &:last-child {
    margin-bottom: 0;
  }
}

.rowLabel {
  flex: 0 0 200px;
  max-width: 200px;
  padding-right: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: (19 / 14);
  color: $colorGray;
}

.rowContent {
  font-size: 14px;
  line-height: (19 / 14);
}

.incart {
  padding: 18px 20px;
  display: flex;
  align-items: center;
  border-top: 1px solid #c4c4c4;
}

.incartIcon {
  color: $colorPrimary;
  font-size: 18px;
  margin-right: 20px;
}

.incartTitle {
  font-size: 14px;
  font-weight: 600;
  margin-right: 20px;
}

.incartDelete {
  color: $fontColor;
  cursor: pointer;
  transition: color 0.25s $ease;
  &:hover {
    color: $colorRed;
  }
}

.actions {
  padding: 28px 20px 0;
  border-top: 1px solid #c4c4c4;
}

.actionsWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin: -10px;
}

.actionCol {
  flex: 0 0 140px;
  max-width: 140px;
  padding: 10px;
  &.wide {
    flex-basis: 240px;
    max-width: 240px;
  }
}

@include r($md) {
  .cart {
    padding: 24px 0;
  }
  .head {
    padding: 0;
    border-bottom: 0;
  }
  .body {
    padding: 26px 0 20px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      width: 90px;
      scrollbar-width: 90px;
      height: 6px;
      background: transparent;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      max-width: 90px;
      width: 90px;
      background: #e5e5e5;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #a1a1a1;
      border-radius: 10px;
      border: 0;
    }
  }

  .bodyImage {
    flex: 0 0 240px;
    max-width: 240px;
    padding-right: 20px;
  }

  .bodyTable {
    flex: 0 0 260px;
    max-width: 260px;
    margin-left: 25px;
    margin-right: 0;
  }

  .rowLabel {
    flex: 0 0 110px;
    max-width: 110px;
    padding-right: 20px;
    font-size: 12px;
  }

  .rowContent {
    font-size: 12px;
  }

  .incart {
    padding-left: 0;
    padding-right: 0;
  }

  .actionsWrapper {
    // display: block;
  }
  .actions {
    padding-left: 0;
    padding-right: 0;
  }
  .actionCol {
    flex: 0 0 $col5;
    max-width: $col5;
    &:nth-child(2),
    &:nth-child(3) {
      flex-basis: $col3;
      max-width: $col3;
    }
    &.wide {
      flex: 0 1 430px;
      max-width: 430px;
    }
    > div {
      label {
        width: 100%;
        max-width: 100px;
        font-size: 12px;
        margin-bottom: 12px;
      }
    }
    button {
      width: 100%;
      max-width: 430px;
    }
  }

  .clearInputMobile {
    :global input {
      border: 0;
      padding: 0;
    }
  }
}
