.filters {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}

.filterImage {
  position: relative;
  flex: 0 0 240px;
  max-width: 240px;
  border-radius: 5px;
  overflow: hidden;
  font-size: 0;
  img {
    width: 100%;
  }
}

.filterContent {
  position: relative;
  z-index: 1;
  flex: 0 0 calc(100% - 240px);
  max-width: calc(100% - 240px);
  height: 100%;
  background: #eaecf5;
  border-radius: 5px;
  padding: 30px;
  margin-left: 10px;
}

.filterContentRow {
  align-items: center;
}
