.breadcrumbs {
  margin: 0;
}

.breadcrumbsScroll {
  transition: background 0.25s $ease;
  &._sticky {
    position: fixed;
    z-index: 8;
    left: 0;
    right: 0;
    max-width: 100vw;
    top: 79px;
    padding: 20px 0;
    background: white;
    :global .container {
      padding-left: 40px;
      padding-right: 40px;
    }
    .breadcrumbsList a {
      color: $colorPrimary;
      &:hover {
        color: $colorLink;
      }
    }
  }
}

@include r($xl) {
  .breadcrumbsScroll {
    &._sticky {
      top: 74px;
    }
  }
}

@include r($lg) {
  .breadcrumbsScroll {
    &._sticky {
      padding: 15px 0;
      top: 72px;
      :global .container {
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }
}
@include r($md) {
  .breadcrumbsScroll {
    background: white;
    &._sticky {
      position: static;
      padding: 0;
      :global .container {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.breadcrumbsList {
  list-style: none;
  margin: -10px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    position: relative;
    display: inline-flex;
    align-items: center;
    flex: 0 0 auto;
    font-size: 16px;
    line-height: 1;
    :global .svg-icon {
      font-size: 8px;
      color: rgba(black, 0.3);
      pointer-events: none;
    }
  }
  a,
  span {
    display: inline-block;
    padding: 10px;
  }
  a {
    transition: color 0.25s $ease;
    &:hover {
      color: $colorLink;
    }
  }
  span {
    color: rgba(black, 0.5);
  }
}

@include r($lg) {
  .breadcrumbsList {
    margin-top: -5px;
    margin-bottom: -5px;

    li {
      font-size: 12px;
    }
    a,
    span {
      display: inline-block;
      padding: 5px 10px;
    }
  }
}
