.catalog {
  position: relative;
  :global .row {
    margin: 0;
  }
  :global .col {
    padding: 0;
    &:last-child {
      .categorySub {
        ul {
          width: calc((1200px / 3) + 80px * -1);
          li {
            min-width: 1px;
          }
          li a {
            white-space: normal;
          }
        }
      }
    }
  }
}

@include r(1280) {
  .catalog {
    :global .col:last-child .categorySub ul {
      width: calc(((100vw - 40px) / 3) + 80px * -1);
    }
  }
}

@include r($lg) {
  .catalog {
    :global .col:last-child .categorySub ul {
      width: calc(((100vw - 40px) / 3) + 80px * -1);
    }
  }
}

@include r($md) {
  .catalog {
    :global .col:last-child .categorySub ul {
      width: 100%;
    }
  }
}

.abc {
  position: relative;
  padding-left: 120px;
  padding-right: 100px;
}

.abcNav {
  position: absolute;
  top: 0%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #c9d9ff;
  cursor: pointer;
  transition: color 0.25s $ease;
  &:hover {
    color: $colorLink;
  }
  :global .svg-icon {
    font-size: 32px;
  }
  &._left {
    left: -10px;
    :global .svg-icon {
      transform: rotate(90deg);
    }
  }
  &._right {
    right: -10px;
    :global .svg-icon {
      transform: rotate(-90deg);
    }
  }
}

@include r($xl) {
  .abc {
    padding-left: 70px;
    padding-right: 50px;
  }
}

@include r($lg) {
  .catalog {
    padding-left: 0;
    padding-right: 0;
  }
}

@include r($md) {
  .catalog {
    padding-left: 0;
    padding-right: 0;
  }

  .abc {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    display: flex;
    margin-bottom: 32px;
  }
  .abcNav {
    display: none;
  }
}

.letters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.letter {
  font-weight: 600;
  font-size: 24px;
  line-height: 13px;
  margin-right: auto;
  margin-bottom: 10px;
  color: $colorPrimary;
  padding: 6px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.25s $ease, background 0.25s $ease;
  &:hover,
  &._active {
    color: white;
    background: $colorRed;
  }
}

.lettercol {
  flex: 0 0 20%;
  max-width: 20%;
  width: 100%;
  min-width: 1px;
}

@include r($xl) {
  .lettercol {
    flex-basis: $col3;
    max-width: $col3;
  }
}
@include r($lg) {
  .lettercol {
    flex-basis: $col4;
    max-width: $col4;
  }
}

@include r($md) {
  .catalog {
    display: flex;
    &._abc {
      :global .row {
        display: block;
        flex: 0 0 calc(100% - 60px);
        max-width: calc(100% - 60px);
        order: 1;
      }
    }
  }
  .letters {
    right: 0;
    position: sticky;
    top: 0;
    align-self: flex-start;
    flex: 0 0 48px;
    margin-right: 0;
    padding-left: 16px;
    margin-left: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    order: 2;
  }
  .letter {
    min-width: 32px;
    min-height: 32px;
    font-size: 20px;
    margin-bottom: 5px;
    margin-right: 0;
    padding-left: 4px;
    padding-right: 4px;
    color: white;
  }
  .lettercol {
    flex-basis: 100%;
    max-width: 100%;
  }
}
