.catalog {
  position: relative;
  :global .row {
    margin: 0;
  }
  :global .col {
    padding: 0;
  }
}

@include r($lg) {
  .catalog {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.letters {
  display: flex;
  align-items: center;
}

.letter {
  font-weight: 600;
  font-size: 24px;
  line-height: 13px;
  color: $colorPrimary;
  padding: 6px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.25s $ease, background 0.25s $ease;
  &:hover {
    color: white;
    background: $colorRed;
  }
}
