.root {
  position: relative;
  margin-top: 32px;
  margin-bottom: 32px;
}

.tags {
  margin-top: 32px;
}

.filters {
  margin-top: 42px;
}

.breadcrumbs {
  margin: 32px 0 42px;
  min-height: 12px;
  :global .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.head {
  display: block;
  margin-bottom: -10px;
  :global .h3-title {
    display: inline;
    padding-right: 20px;
  }

  .everywhere {
    display: inline-block;
    flex: 0 0 auto;
    margin: 10px 0;
  }
}

@include r($lg) {
  .root {
    margin-top: 20px;
  }
  .tags {
    margin-top: 20px;
  }
  .breadcrumbs {
    margin: 20px 0 24px;
  }
  .head {
    flex-wrap: wrap;
  }
}

@include r($md) {
  .breadcrumbs {
    margin: 20px 0 18px;
  }

  .head {
    margin-bottom: 0;
    .everywhere {
      display: block;
      width: 100%;
      margin-top: 20px;
      :global .btn {
        display: block;
        width: 100%;
        padding-top: 14px;
        padding-bottom: 14px;
        max-width: 430px;
      }
    }
  }
  .tags {
    display: none;
  }
  .filters {
    margin-top: 18px;
  }
}
