.root {
  position: relative;
  margin-top: 32px;
  margin-bottom: 32px;
}

.tags {
  margin-top: 32px;
}

.filters {
  margin-top: 42px;
}

.breadcrumbs {
  margin: 32px 0 42px;
  min-height: 12px;
  :global .container {
    padding-left: 0;
    padding-right: 0;
  }
}

@include r($lg) {
  .root {
    margin-top: 20px;
  }
  .tags {
    margin-top: 20px;
  }
  .breadcrumbs {
    margin: 20px 0 24px;
  }
}
