.footer {
  background: #eaecf5;
}

.footerMain {
  padding-top: 30px;
  padding-bottom: 42px;
  :global .col {
    position: relative;
    &:nth-child(2) {
      &::after,
      &::before {
        display: inline-block;
        content: ' ';
        position: absolute;
        top: 26px;
        bottom: -12px;
        width: 1px;
        background: rgba(black, 0.3);
      }
      &::after {
        right: 0px;
      }
      &::before {
        left: 0px;
      }
    }
  }
}

.footerTitle {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 24px;
  &._main {
    margin-bottom: 19px;
  }
}

.footerContact {
  display: inline-flex;
  height: 100%;
  font-size: 14px;
  img {
    width: 125px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  &._middle {
    padding-left: 20px;
    padding-right: 0;
  }
  &._last {
    margin-left: auto;
    padding-left: 24px;
  }
  &._midmd {
    display: none;
  }
}

.footerContact {
  align-items: center;
  &.email {
    margin-top: 8px;
  }
  &.time {
    margin-top: 8px;
  }
  &.address {
    margin-top: 8px;
  }
}

a.footerContact {
  padding: 5px 0;
  margin-bottom: 5px;
}
div.footerContact {
  margin-bottom: 16px;
}

.footerContactIcon {
  flex: 0 0 24px;
  width: 24px;
  font-size: 0;
  color: $colorPrimary;
  &._noalign {
    align-self: flex-start;
  }
  :global {
    .svg-icon {
      font-size: 14px;
      margin-right: 8px;
    }
    .svg-icon--location {
      font-size: 18px;
    }
    .svg-icon--email {
      font-size: 10px;
    }
    .svg-icon--service-cut {
      font-size: 16px;
    }
    .svg-icon--service-24 {
      font-size: 10px;
    }
    .svg-icon--service-transport {
      font-size: 11px;
    }
  }
}

@include r($lg) {
  .footerTitle {
    font-size: 14px;
    margin-bottom: 16px;
    &._main {
      margin-bottom: 11px;
    }
  }

  .footerMain {
    :global .col {
      &:nth-child(2) {
        &::after {
          right: -12px;
        }
        &::before {
          left: -12px;
        }
      }
    }
  }
  .group {
    padding-right: 20px;
    &._middle {
      padding-left: 0;
    }
    &._last {
      padding-left: 24px;
    }
  }

  .footerContact {
    font-size: 12px;
    img {
      width: 115px;
    }
  }

  .footerContactIcon {
    flex-basis: 20px;
    width: 20px;
    :global {
      .svg-icon {
        font-size: 12px;
        margin-right: 6px;
      }
      .svg-icon--location {
        font-size: 16px;
      }
      .svg-icon--email {
        font-size: 9px;
      }
      .svg-icon--service-cut {
        font-size: 14px;
      }
      .svg-icon--service-24 {
        font-size: 10px;
        transform: translateX(-1.5px);
      }
      .svg-icon--service-transport {
        font-size: 11px;
      }
    }
  }
}

@include r($md) {
  .footerTitle {
    font-size: 15px;
    margin-bottom: 20px;
    &._main {
      margin-bottom: 15px;
    }
  }

  .footerMain {
    padding-bottom: 30px;
    :global .col {
      &:nth-child(2) {
        &::after {
          display: none;
        }
        &::before {
          top: 0;
          left: -12px;
        }
      }
    }
  }
  .group {
    padding-right: 0;
    &._middle {
      max-width: 100%;
      margin-bottom: 20px;
    }
    &._last {
      display: none;
      padding-top: 12px;
      padding-left: 0;
      padding-right: 0;
      max-width: 100%;
    }
    &._midmd {
      display: flex;
    }
  }

  .footerContact {
    font-size: 14px;
    // width: 100%;
    img {
      width: 120px;
    }
  }

  .footerContactIcon {
    flex-basis: 22px;
    width: 22px;
    :global {
      .svg-icon {
        font-size: 13px;
      }
      .svg-icon--location {
        font-size: 17px;
      }
      .svg-icon--email {
        font-size: 9px;
      }
      .svg-icon--service-cut {
        font-size: 14px;
      }
      .svg-icon--service-24 {
        font-size: 10px;
      }
      .svg-icon--service-transport {
        font-size: 11px;
      }
    }
  }
}

@include r($sm) {
  .footerMain {
    padding-bottom: 30px;
    :global .col {
      &:nth-child(2) {
        &::after {
          display: block;
        }
        &::after,
        &::before {
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 1px;
        }
        &::before {
          top: 100%;
        }
      }
    }
  }
  .group {
    padding-right: 0;
    margin-bottom: 12px;
    &._middle {
      max-width: 100%;
      padding: 12px 0;
      margin-bottom: 0;
    }
    &._midmd {
      display: none;
    }
    &._last {
      display: flex;
      margin-bottom: 0;
    }
  }

  .footerContact {
    font-size: 14px;
  }
}

.footerBottom {
  background: $colorPrimary;
  color: white;
  font-size: 12px;
}

.footerBottomWrapper {
  min-height: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.copyright {
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
  :global {
    .svg-icon {
      margin-right: 8px;
    }
  }
}

.footerBottomText {
  margin-right: 30px;
}

@include r($md) {
  .copyright {
    margin-right: 10px;
  }
  .footerBottomText {
    margin-right: 10px;
  }
}

@include r($mobile-s) {
  .footerBottom {
    font-size: 11px;
  }

  .copyright {
    margin-right: 6px;
  }
  .footerBottomText {
    margin-right: 6px;
  }
}
